$brand-primary:         $dark-blue-brand !default;
$brand-primary-lighten: $dark-blue-dark !default;
$brand-primary-darken:  $dark-blue-darkest !default;
$brand-success:         $green !default;
$brand-info:            $blue !default;
$brand-warning:         $yellow !default;
$brand-danger:          $danger !default;
$brand-focus:           $brand-primary !default;
