$brand-primary:         $purple-brand !default;
$brand-primary-lighten: $purple !default;
$brand-primary-darken:  $purple-darker !default;
$brand-success:         $green !default;
$brand-info:            $blue !default;
$brand-warning:         $yellow !default;
$brand-danger:          $danger !default;
$brand-focus:           $brand-primary !default;
