.breadcrumbs {
  padding-left: 0;
  color: $red-disabled;
  & > li {
    display: inline-block;
    &:not(:first-child)::before {
      font-family: rex-icon;  // TODO: make it variable or mixin
      content: $_32-chevron-right;
      font-size: 14px;
      margin-right: 8px;
      margin-left: 8px;
    }
    & > a {
      color: $crimson-red;
      text-decoration: none;
      &:hover, &:focus {
        color: $red-hoverfocus;
      }
      &:active {
        color: $red-active;
      }
    }
    &.active {
      color: $red-disabled;
    }
  }
}
