%btn_disabled {
  &::after {
    border-top-color: $btn-disabled-color;
  }
  &:active {
    background-color: $btn-disabled-bg;
    color: $btn-disabled-color;
  }
  &:hover, &:focus {
    background-color: $btn-disabled-bg;
  }
}

%dropdown_select_arrow {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: solid 4.67px $white;
}

.dropdown {
  &.btn {
    padding: 8px 34px 8px 16px;
    position: relative;
    &::after {
      @extend %dropdown_select_arrow;
      right: 14px;
      top: 19px;
    }
    &:hover, &:focus {
      background-color: $brand-primary-lighten;
    }
    &:active {
      background-color: $brand-primary-darken;
    }
  }
  &.btn-outline {
    &::after {
      border-top-color: $brand-primary;
    }
    &:hover, &:active, &:focus {
      &::after {
        border-top-color: $white;
      }
    }
  }
  &.disabled:not(.btn-group) {
    background-color: $btn-disabled-bg;
    color: $btn-disabled-color;
    @extend %btn_disabled;
  }
}

.btn-group.dropdown {
  display: inline-block;
  position: relative;
  padding-right: 32px;
  &.disabled {
    .btn, .btn-split {
      cursor: $cursor-disabled;
      background-color: $btn-disabled-bg;
      color: $btn-disabled-color;
      border-color: $btn-disabled-bg;
      @extend %btn_disabled;
    }
  }
  &.outline {
    &:hover, &:focus {
      .btn {
        border-right-color: $brand-primary-lighten;
      }
    }
    &:active {
      .btn {
        border-right-color: $brand-primary-darken;
      }
    }
    .btn {
      border-color: $brand-primary;
      background-color: $white;
      color: $brand-primary;
      &:hover, &:focus {
        background-color: $brand-primary-lighten;
        border-color: $brand-primary-lighten;
        color: $white;
      }
      &:active {
        background-color: $brand-primary-darken;
        border-color: $brand-primary-darken;
        color: $white;
      }
    }
    .btn-split {
      background-color: $brand-primary;
      &:hover, &:focus {
        background-color: $brand-primary-lighten;
      }
      &:active {
        background-color: $brand-primary-darken;
      }
    }
  }
  .btn {
    display: inline-block;
    border-radius: 3px 0px 0px 3px;
    padding-right: 16px;
    padding-left: 16px;
    border-right: none;
  }
  .btn-split {
    display: inline-block;
    position: absolute;
    border-radius: 0px 3px 3px 0px;
    width: 32px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: $btn-split-color;
    cursor: pointer;
    &:hover, &:focus {
      background-color: $brand-primary-lighten;
    }
    &:active {
      background-color: $brand-primary-darken;
    }
    &::after {
      @extend %dropdown_select_arrow;
      top: 20px;
      right: 12px;
    }
  }
  &.pill {
    .btn {
      border-radius: 100px 0px 0px 100px;
    }
    .btn-split {
      border-radius: 0px 100px 100px 0px;
    }
  }
}
