%backToTopStyle {
  font-family: rex-icon;  // TODO: make it variable or mixin
  content: $_32-chevron-right;
  transform: rotate(270deg);
  display: inline-block;
  padding-left: 2px;
}
%btn-circle-outline {
  color: $brand-primary;
  background-color: transparent;
  border: solid 1px $brand-primary; // replace with mixin
  // add animation to vars
  transition: 0.2s cubic-bezier(0, 0, 0.58, 1) background-color, 0.1s cubic-bezier(0, 0, 0.58, 1) box-shadow;
  &:hover,
  &.hover {
    border: solid 1px $brand-primary-lighten;
    color: $white;
    background-color: $brand-primary-lighten;
  }
  &:focus,
  &.focus {
    border: solid 1px $brand-primary-lighten;
    color: $white;
    background-color: $brand-primary-lighten;
  }
  &:active,
  &.active {
    border: solid 1px $brand-primary-darken;
    color: $white;
    background-color: $brand-primary-darken;
  }
}

%plus-minus-btn {
  &:before {
    left: 1px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  &.btn-outline {
    &:before {
      left: 1.5px;
      top: -1px;
    }
  }
}

//
// Buttons
// --------------------------------------------------
// Base styles
// --------------------------------------------------
.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  font-weight: 100;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $btn-lineheight, $btn-border-radius-base);
  @include user-select(none);
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: none !important;
      @include tab-focus;
    }
  }
  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
    outline: 0;
  }
  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    color: $btn-disabled-color;
    background-color: $btn-disabled-bg;
    border: transparent;
    &:hover,
    &:focus {
      color: $btn-disabled-color;
      background-color: $btn-disabled-bg;
      box-shadow: none;
    }
    color: $btn-disabled-color;
    background-color: $btn-disabled-bg;
    box-shadow: none;
  } // [converter] extracted a& to a.btn

  &.btn-success {
    position: relative;
    padding-left: 48px;
    &::before {
      content: $_32-check;
      font-size: 24px;
      font-family: rex-icon;
      position: absolute;
      top: 3px;
      left: 16px;
    }
  }
  &.loading {
    width: 144px;
    padding: 19px 0px;
    position: relative;
    z-index: 1;
    &::before {
      content: $_32-loading-lg-l;
      position: absolute;
      font-family: rex-icon;
      top: 5%;
      left: 0;
      right: 0;
      font-size: 24px;
      z-index: 2;
      animation: spin .6s linear infinite;
    }
  }
  &.icon {
    .rex-icon {
      margin-left: 8px;
      top: 2px;
      &.left {
        margin-left: 0px;
        margin-right: 8px;
      }
    }
  }
}

a.btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}

// Alternate buttons
// --------------------------------------------------
.btn-default {
  $color: $btn-primary-bg;
  $light: $brand-primary-lighten;
  $dark: $brand-primary-darken;
  @include button-variant($color, $light);
  &.btn-outline {
    @include button-variant-outline(transparent, $color, $light, $dark, $white);
    font-weight: 300;
  }
  &.btn-pill {
    border-radius: $btn-pill-border-radius;
  }
}

.btn-primary {
  $color: $btn-primary-bg;
  $light: $brand-primary-lighten;
  $dark: $brand-primary-darken;
  @include button-variant($color, $light);
  &.btn-outline {
    @include button-variant-outline($white, $color, $light, $dark, $white);
  }
  &.btn-pill {
    border-radius: $btn-pill-border-radius;
  }
}

// // Success appears as green
.btn-success {
  $color: $btn-success-bg;
  $light: $brand-success-lighten;
  $dark: $brand-success-darken;
  color: $btn-success-bg;
  @include button-variant($color, $light);
  &.btn-outline {
    @include button-variant-outline(transparent, $color, $light, $dark, $white);
  }
  &.btn-pill {
    border-radius: $btn-pill-border-radius;
  }
}

// // Info appears as blue-green
.btn-info {
  $color: $btn-info-bg;
  $light: $brand-info-lighten;
  $dark: $brand-info-darken;
  @include button-variant($color, $light);
  &.btn-outline {
    @include button-variant-outline($white, $color, $light, $dark, $white);
  }
  &.btn-pill {
    border-radius: $btn-pill-border-radius;
  }
}

// // Warning appears as orange
.btn-warning {
  $color: $btn-warning-bg;
  $light: $brand-warning-lighten;
  $dark: $brand-warning-darken;
  @include button-variant($color, $light);
  &.btn-outline {
    @include button-variant-outline($white, $color, $light, $dark, $white);
  }
  &.btn-pill {
    border-radius: $btn-pill-border-radius;
  }
}

// // Danger and error appear as red
.btn-danger {
  $color: $btn-danger-bg;
  $light: $brand-danger-lighten;
  $dark: $brand-danger-darken;
  @include button-variant($color, $light);
  &.btn-outline {
    @include button-variant-outline($white, $color, $light, $dark, $white);
  }
  &.btn-pill {
    border-radius: $btn-pill-border-radius;
  }
}

.btn-text {
  @include button-variant-text($btn-primary-bg, $gray-lightest, $gray-light);
  font-weight: 300;
}

.btn-pill {
  border-radius: $btn-pill-border-radius;
}

.btn-square {
  padding: 0;
  position: relative;
  border: none;
  font-size: 24px;
  line-height: 40px;
  width: 40px;
  height: 40px; // icon center alignment
  border-radius: 4px;
  &:before {
    position: absolute;
  }
  &.chevron-top {
    &::after {
      @extend %backToTopStyle;
    }
  }
  &.chevron-left {
    @include chevron-horizontal-style("right", 8px, 7px);
  }
  &.chevron-right {
    @include chevron-horizontal-style("right", 6px, 5px);
  }
  &.plus,
  &.minus {
    @extend %plus-minus-btn;
  }
  &.btn-outline {
    @extend %btn-circle-outline;
  }
}

.btn-circle {
  padding: 0;
  position: relative;
  border: none;
  border-radius: 100%;
  line-height: 40px;
  font-size: 24px;
  width: 40px;
  height: 40px; // icon center alignment
  &:before {
    position: absolute;
  }
  &.plus,
  &.minus {
    @extend %plus-minus-btn;
  }
  &.chevron-top {
    &::after {
      @extend %backToTopStyle;
    }
  }
  &.chevron-left,
  &.chevron-right {
    &:before {
      top: 0;
    }
    &.btn-outline {
      &:before {
        top: -1px;
      }
    }
  }
  &.chevron-left {
    @include chevron-horizontal-style("left", 7px, 6px);
  }
  &.chevron-right {
    @include chevron-horizontal-style("right", 7px, 6px);
  } // colors
  &.btn-outline {
    @extend %btn-circle-outline;
  } // other sizes
  // &.btn-circle-xl {
  //   font-size: ($font-size-base / $icon-size * 17);
  //   line-height: 40px;
  //   width: 40px;
  //   height: 40px
  // }
  // &.btn-circle-lg {
  //   line-height: 32px;
  //   width: 32px;
  //   height: 32px;
  //   font-size: ($font-size-base / $icon-size * 16);
  // }
  // &.btn-circle-sm {
  //   background-color: transparent;
  //   border: none;
  //   @include button-variant-circle($brand-primary);
  //   font-size: ($font-size-base / $icon-size * 8);
  // }
  // &:hover,
  // &.hover {
  //   color: $white;
  //   background-color: $brand-primary-lighten;
  // }
  // &:focus,
  // &.focus {
  //   color: $white;
  //   background-color: $brand-primary-lighten;
  // }
  // &:active,
  // &.active {
  //   color: $white;
  //   background-color: $brand-primary-darken;
  // }
  // &.disabled,
  // &[disabled] {
  //   cursor: $cursor-disabled;
  //   background-color: $btn-disabled-color;
  //   color: $white;
  //   border: transparent;
  //   &.btn-circle-sm {
  //     color: $gray-light;
  //   }
  //   &:hover {
  //     cursor: $cursor-disabled;
  //     background: $white;
  //   }
  // }
}

////////////////////////////////////////////////////////////////////////////////
// Link buttons
// -------------------------
// Make a button look and behave like a

.btn {
  &.link {
    color: $link-color;
    font-weight: normal;
    border-radius: 0;
    border-radius: 4px;
    padding-right: 16px;
    padding-left: 16px;
    &:hover, &:focus {
      color: $link-hover-color;
    }
    &:active {
      color: $link-active-color;
    }
    &[disabled],
    &.disabled {
      color: $btn-disabled-color;
      background-color: transparent;
    }
  }
  &.btn-link {
    @extend .btn.link;
    &:hover, &:active, &:focus {
      background-color: $gray-lightest;
    }
    &.btn-pill {
      border-radius: 100px;
    }
  }
}

// Button Sizes
// --------------------------------------------------
.btn-xl {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-xl-vertical, $padding-xl-horizontal, $font-size-button-xl, $line-height-xl, $btn-border-radius-base);
}

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-button-large, $line-height-large, $btn-border-radius-base);
}

.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-button-sm, $line-height-small, $btn-border-radius-base);
}

.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-base, $line-height-small, $btn-border-radius-base);
}

// Block button
// --------------------------------------------------
.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block+.btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

.joshworley {
  color: $white;
}
.robbyoentoro {
  display: none;
}
.kate {
  position: absolute;
}
