$crimson-red: #bf0000;
$turquoise: #00d9b2;
$dark-pink: #ff3365;
// State Colors
$success: #069907;
$info: #009Ae9;
$warning: #f16a00;
$danger: #ff3939;


$red-lightest: #FFF7F7;
$red-lighter: #FFDBDB;
$red-light: #F9AAAA;
$red-medium-light: #F37979;
$red-medium: #EC4848;
$red: #E61717;
$red-dark: #bf0000;
$red-darker: #930A0A;
$red-darkest: #661414;
$red-brand: $red-dark;

$yellow-lightest: #FFFBF5;
$yellow-lighter: #FFEDD1;
$yellow-light: #FFD38B;
$yellow-medium-light: #FFBA46;
$yellow-medium: #FFA000;
$yellow: #D98B09;
$yellow-dark: #B37612;
$yellow-darker: #8C611B;
$yellow-darkest: #664C24;
$yellow-brand: $yellow-medium;

$green-lightest: #FAFFF7;
$green-lighter: #E8F7E1;
$green-light: #B4E996;
$green-medium-light: #7FDB4B;
$green-medium: #4BCD00;
$green: #44B007;
$green-dark: #3E930E;
$green-darker: #377614;
$green-darkest: #30591B;
$green-brand: $green-medium;

$blue-lightest: #F7FCFF;
$blue-lighter: #DAF1FC;
$blue-light: #A3DDF9;
$blue-medium-light: #6DC9F6;
$blue-medium: #37B4F3;
$blue: #00A0F0;
$blue-dark: #0783C2;
$blue-darker: #0D6794;
$blue-darkest: #144A66;
$blue-brand: $blue;

$dark-blue-lightest: #F9FBFF;
$dark-blue-lighter: #E1E9FF;
$dark-blue-light: #B4C5F5;
$dark-blue-medium-light: #87A2EB;
$dark-blue-medium: #5A7EE0;
$dark-blue: #2D5BD6;
$dark-blue-dark: #0037CC;
$dark-blue-darker: #002896;
$dark-blue-darkest: #122459;
$dark-blue-brand: $dark-blue-darker;

$purple-lightest: #FDF9FF;
$purple-lighter: #F6E3FF;
$purple-light: #E0ADF9;
$purple-medium-light: #CA78F3;
$purple-medium: #B342EC;
$purple: #9D0CE6;
$purple-dark: #7D00BE;
$purple-darker: #640A92;
$purple-darkest: #4B1466;
$purple-brand: $purple-dark;

$pink-lightest: #FFF8FD;
$pink-lighter: #FFE0F5;
$pink-light: #FFB8E7;
$pink-medium-light: #FF91DA;
$pink-medium: #FF69CC;
$pink: #FF41BE;
$pink-dark: #CC399A;
$pink-darker: #993175;
$pink-darkest: #662951;
$pink-brand: $pink;
