.rex-search {
  position: relative;
  .input-group {
    width: 100%;
    font-size: 16px;
    height: 40px;
    padding-top:0px;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 0px;
    .search-input-wrapper {
      width: 100%;
      display: inline-block;
      position: relative;
      input {
        background-color: $white;
        border-top: solid 1px $white;
        border-left: solid 1px $white;
        border-bottom: solid 1px $white;
        border-right: solid 1px $white;
        border-radius: 4px;
        @include transition(all .2s cubic-bezier(0, 0, 0.58, 1));
        padding: 0 48px 0 16px;
        width: 100%;
        line-height: 3em;
        height: 40px;
        float:left;
        &:hover,
        &:active,
        &:focus {
          border-top: solid 1px $brand-primary;
          border-left: solid 1px $brand-primary;
          border-bottom: solid 1px $brand-primary;
          border-right: solid 1px $brand-primary;
        }
        &:active,
        &:focus {
          background-color: $gray-lightest;
        }
      }
      &::-ms-clear {
        display: none;
      }
      .close {
        &:after {
          font-family: rex-icon;
          content: $_32-x;
          font-size: 16px;
          position: absolute;
          right: 60px;
          top: 6px;
          color: $black;
          cursor: pointer;
        }
      }
    }
    .search-btn {
      background-color: transparent;
      border-top: none;
      border-bottom: none;
      border-right: none;
      border-left: none;
      width: 40px;
      height: 40px;
      float: right;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      line-height: 40px;
      text-align: right;
      padding: 0 16px 0 0;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      @include transition(all .2s cubic-bezier(0, 0, 0.58, 1));
      .search {
        top: 3px;
      }
      i {
        &:before {
          font-size: 20px;
          color: $gray;
        }
      }
    }
  }

  &.rounded {
    .input-group {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      .search-input-wrapper {
        input {
          border-radius: 20px;
          padding-left: 24px;
        }
      }
      .search-btn {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 48px;
        text-align: left;
        padding-left: 12px;
      }
    }
  }

  &.outline {
    .search-input-wrapper {
      input {
        background-color: transparent;
        border-color: $gray-light;
      }
    }
    .search-btn {
      border: solid 1px $brand-primary;
      background: $brand-primary;
      text-align: center;
      width: 40px;
      padding: 0;
      i {
        &:before {
          color: $white;
        }
      }
      &:hover, &.focus {
        background-color: $brand-primary-lighten;
        border-color: $brand-primary-lighten;
      }
      &:active {
        background-color: $brand-primary-darken;
        border-color: $brand-primary-darken;
      }
    }
  }

  &.scope {
    position: relative;
    .input-group {
      .search-selection {
        cursor: pointer;
        position: absolute;
        padding-top: 0.25em;
        padding-left: 0.75em;
        left: 0;
        top: 0;
        bottom: 0;
        width: 56px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top: 1px solid $gray-light;
        border-left: 1px solid $gray-light;
        border-bottom: 1px solid $gray-light;
        border-right: 1px solid transparent;
        color: $brand-primary;
        @include transition(all .2s cubic-bezier(0, 0, 0.58, 1));
        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: solid 4.67px $brand-primary;
          top: 1em;
          right: 0.6em;
        }
        &:hover, &:focus {
          border-color: $brand-primary;
          background-color: $gray-lightest;
        }
        &:active {
          border-color: $brand-primary;
          background-color: $gray-lighter;
        }
      }
      input {
        margin-left: 55px;
        width: calc(100% - 94px); // 94px = search-selection width + search-btn width - border width(2px)
        border-radius: 0;
        border-color: $gray-light;
        padding-right: 16px;
        padding-left: 16px;
        &:focus, &:active {
          background-color: $search-input-active;
        }
        &:hover, &:focus, &:active {
          border-color: $brand-primary;
        }
      }
    }
  }
  &.scope.rounded {
    .input-group {
      .search-selection {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }
      input {
        border-radius: 0;
      }
    }
  }
}

.search-suggestions {
  &.query {
    padding-top: 16px;
    padding-bottom: 8px;
    .search-row {
      cursor: pointer;
      margin: 0;
      span {
        line-height: 32px;
      }
      &:hover {
        background: $gray-lightest;
      }
    }
  }
  background: $white;
  color: $gray;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border: solid 1px $gray-light;
  padding: 24px 0 0;
  border-radius: 4px;
  margin-top: -1px;
  width: 100%;
  max-width: 592px;
  max-height:592px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 99999;

  @extend .rex-motion;
  @include animation(rex-fadeInDown 0.2s $standard-curve forwards);

  .search-row {
    display: block;
    clear:both;
    margin-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    li {
      a {
        color: $gray;
        &:hover {
          text-decoration: underline;
          color: $gray !important;
        }
      }
    }
    h3 {
      margin-bottom: 0px;
      padding: 0px;
      color: inherit;
    }
  }
  .left-result {
    margin-bottom: 0 !important;
    padding-left: 17px;
    font-weight: bold;
  }
  .right-result {
    ul {
      margin-bottom: 0 !important;
      li {
        margin-bottom: 8px;
        a {
          color: $gray;
          &:hover {
            color: $brand-primary-lighten;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
