.tab {
  position: relative;
  display: inline-block;
  // underline
  &:before {
    position: absolute;
    content: "";
    width: 99%;
    height: 1px;
    left: 0;
    bottom: -6px;
    background-color: $gray-light;
    z-index: 0;
  }
  a.item {
    text-decoration: none;
  }
  .item {
    font-size: 16px;
    color: $gray-medium;
    padding: 7px 17.5px;
    position: relative;
    z-index: 1;
    &:not(:last-of-type) {
      margin-right: 32px;
    }
  }
  :focus,
  :active,
  .active {
    color: $brand-primary;
    border-bottom: 1px solid $brand-primary;
    outline: none;
  }
  .selected, .item:hover {
    background-color: $gray-lightest;
    border-radius: 4px 4px 0 0;
  }
  &.overflow {
    padding-right: 32px;
    padding-left: 32px;
    display: inline-block;
    position: relative;
    &:before {
      width: calc(99% - 64px);
      left: 32px;
    }
    .previous {
      &::before {
        content: $_32-chevron-left;
        font-family: rex-icon;
        position: absolute;
        top: 2px;
        left: 0;
        color: $brand-primary;
      }
      &:focus,
      &:active {
        border-bottom: none;
      }
    }
    .next {
      &::after {
        content: $_32-chevron-right;
        font-family: rex-icon;
        position: absolute;
        top: 2px;
        right: 0;
        color: $brand-primary;
      }
      &:focus,
      &:active {
        border-bottom: none;
      }
    }
    .tabItem-group {
      overflow: hidden;
      min-height: 40px;
      min-width: 150px;
    }
    .cover {
      position: absolute;
      top: 0;
      bottom: 6px;
      right: 0;
      width: 100px;
      margin-right: 32px;
    }
    .cover-left {
      position: absolute;
      top: 0;
      bottom: 6px;
      left: 0;
      width: 100px;
      margin-left: 32px;
    }
  }
  &.border-top {
    &:before {
      top: -6px;
    }
    .item {
      border-bottom: none;
      &:focus,
      &:active,
      &.active {
        border-top: 1px solid $brand-primary;
      }
      &.selected, &.item:hover {
        border-radius: 0 0 4px 4px;
      }
    }
  }
  &.mobile {
    &:before {
      display: none;
    }
    .item {
      border-bottom: none;
      &:focus,
      &:active,
      &.active {
        border-bottom: 1px solid $brand-primary;
      }
      &.selected, &:hover {
        background-color: transparent;
      }
    }
    &.icons {
      background-color: $white;
      height: 40px;
      padding-top: 8px;
      display: inline-block;
      .item > .rex-icon {
        font-size: 24px;
      }
      .item {
        cursor: pointer;
        color: $black;
        padding-right: 32px;
        padding-left: 32px;
        margin-right: 0;
        &:focus,
        &:active,
        &.active {
          border-bottom: none;
          color: $brand-primary;
          .rex-icon {
            border-bottom: none;
          }
        }
      }
    }
  }
}
