$brand-primary:         $blue-brand !default;
$brand-primary-lighten: $blue-medium !default;
$brand-primary-darken:  $blue-dark !default;
$brand-success:         $green !default;
$brand-info:            $blue !default;
$brand-warning:         $yellow !default;
$brand-danger:          $danger !default;
$brand-focus:           $brand-primary !default;
