$brand-primary:         $green-brand !default;
$brand-primary-lighten: $green-medium-light !default;
$brand-primary-darken:  $green !default;
$brand-success:         $green !default;
$brand-info:            $blue !default;
$brand-warning:         $yellow !default;
$brand-danger:          $danger !default;
$brand-focus:           $brand-primary !default;
