$brand-primary:         $pink-brand !default;
$brand-primary-lighten: $pink-medium !default;
$brand-primary-darken:  $pink-dark !default;
$brand-success:         $green !default;
$brand-info:            $blue !default;
$brand-warning:         $yellow !default;
$brand-danger:          $danger !default;
$brand-focus:           $brand-primary !default;
