$brand-primary:         $red-brand !default;
$brand-primary-lighten: $red !default;
$brand-primary-darken:  $red-darker !default;
$brand-success:         $green !default;
$brand-info:            $blue !default;
$brand-warning:         $yellow !default;
$brand-danger:          $danger !default;
$brand-focus:           $brand-primary !default;
